<div class="md:h-[calc(100vh_-_100px)] bg-bg-default flex items-center">
    <div class="container grid grid-cols-12">
        <div class="col-span-5">
            <span class="inline-flex items-center font-light text-copy text-white-default">
                {{ svg('img/svg/emojione_waving-hand.svg')|attr({
                    class: 'w-[29px] h-[29px] mr-2'
                }) }}
                Hi, ik ben Angelo Keirsebilck,
            </span>
            <span class="text-[61px] leading-[70px] font-semibold bg-clip-text text-transparent bg-gradient-to-r from-primary-default to-secondary-default">Freelance <br> web developer</span>
            <span class="inline-block text-[45px] leading-[60px] text-white-default font-light">met een passie voor design en <span class="bg-underline transition-all bg-no-repeat  bg-left-bottom bg-[length:100%_12px]">JavaScript</span> </span>
{#            {{ svg('img/svg/underline.svg')|attr({#}
{#                class: ''#}
{#            }) }}#}
        </div>
    </div>
</div>