<div class="hidden lg:flex items-center justify-center min-w-[39px] w-[39px] h-[39px] rounded-xl ml-4 absolute top-2 right-3 transition-all lg:group-hover:w-[calc(100%_-_24px)] bg-black-default"></div>
<div class="flex items-center justify-center min-w-[39px] w-[39px] h-[39px] relative overflow-hidden rounded-xl ml-4 bg-black-default">
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.85198 1.49997L11.241 6.49997M11.241 6.49997L6.85198 11.5M11.241 6.49997H1"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
</div>
