<div class="flex lg:hidden flex-col w-[24px] gap-[6px] cursor-pointer justify-end items-end group js-hamburger">
    <div class="w-[80%] h-[2px] bg-black-default transition-all group-hover:w-full"></div>
    <div class="w-full h-[2px] bg-black-default transition-all group-hover:w-full"></div>
    <div class="w-[65%] h-[2px] bg-black-default transition-all group-hover:w-full"></div>
</div>
