<div class="container relative flex items-center h-full">
    <div class="grid grid-cols-12 lg:gap-10 absolute right-5 lg:right-10 bottom-0 w-full h-[63px]">
        <div class="relative z-20 col-span-12 bg-quaternary-default bg-opacity-30 rounded-tr-2xl">
            <div class="absolute w-[50vw] h-[63px] bottom-0 left-[-50vw] bg-quaternary-default bg-opacity-30"></div>
        </div>
    </div>

    <div class="absolute top-0 grid w-full h-full grid-cols-12 lg:gap-10 left-10">
        <div class="relative col-span-10 md:col-span-9 bg-tertiary-default rounded-tr-2xl">
            <div class="absolute w-[50vw] h-full top-0 left-[-50vw] bg-tertiary-default"></div>
        </div>
    </div>
    <div class="relative z-10 grid grid-cols-12">
        <h1 class="col-span-12 py-12 mb-6 font-medium md:col-span-6 text-40 lg:text-56">
            {{ title }}
        </h1>
    </div>
</div>
