{% import '_macros/_tools.twig' as macros %}

{% set content = block.itemCta.one().fieldAkCtaContent.one() %}
<div class="mb-16 mt-24 md:mt-52 md:mb-40">
    <div class="container">
        <div class="md:grid grid-cols-12 gap-10">
            <div class="!col-start-3 col-span-10 relative after:z-10 after:absolute after:-top-6 after:-left-6 after:rounded-2xl after:bg-secondary-default after:w-full after:h-full after:block">
                <div class="p-6 md:p-8 bg-tertiary-default z-20 relative rounded-tl-xl rounded-bl-2xl after:block after:top-0 after:right-[-50vw] after:w-[50vw] after:h-full after:bg-inherit after:absolute">
                    {% if content.itemTitle %}
                        <h2 class="text-31 md:text-48 font-medium">
                            {{ content.itemTitle }}
                        </h2>
                    {% endif %}
                    {% if content.itemText %}
                        <h2 class="prose md:prose-md max-w-none">
                            {{ content.itemText }}
                        </h2>
                    {% endif %}
                    {% if content.itemLink.getLink() %}
                        <div class="mt-3 md:mt-6">
                            {{ macros.button(content.itemLink.getUrl(), content.itemLink.getText(), 'btn-primary', 'bg-primary-default') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
