<!DOCTYPE html>
<html>
    <body>
        <div style="margin-top: 30px;"></div>
        <p>
            <img src="https://angelokeirsebilck.ams3.cdn.digitaloceanspaces.com/ak/uploads/images/Logo/ak-logo-black.png"
                alt="Angelo Keirsebilck Logo"
                width="150" />
            <br />
            <br />
            <br />
        </p>

        {{ contentHtml }}
    </body>
</html>
