<!DOCTYPE html>
{%- set shortLang = currentSite.language|slice(0, 2) -%}
<html lang="{{ shortLang }}">
<head>
    {% apply spaceless %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1{% if devMode %},user-scalable=no{% endif %}">

        {{ craft.vite.script("src/js/app.js") }}

        {# Critical CSS #}
        {{ craft.vite.includeCriticalCssTags() }}

        {% include '_inc/_fonts.twig' %}
        {% include '_inc/_favicon.twig' %}
    {% endapply %}
    {% block preload %}

    {% endblock %}
</head>

<body>

<div id="wrapper" class="d-flex flex-column min-vh-100 text-black-default text-copy font-light">
    {% block header %}
        {% include '_layout/_header' %}
    {% endblock %}
    <main class="position-relative overflow-hidden">
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
        {% include '_layout/_footer.twig' %}
    {% endblock %}
</div>
</body>
</html>