{% extends "_layout/_base" %}
{#{% set content = entry.fieldContentBuilder.all() %}#}

{% block content %}
{#    {% include "_blocks/_home/_homeBanner.twig" with {#}
{#        block: entry.fieldHomeBanner.one()#}
{#    } %}#}

{#    {% for block in content %}#}
{#        {% include "/_blocks/_#{block.type.handle|replace('type','')|lower}.twig" with {#}
{#            "block": block#}
{#        } %}#}
{#    {% endfor %}#}

    <div class="bg-pink-500 min-h-screen fcp">
        Home Angelo Keirsebilck

        <div class="">
            qzdqdz qzdqzd
        </div>

        <div class="qzdqzqd text-red-500 bg-green-300">

        </div>
    </div>
    <div class="min-h-screen bg-yellow-300"></div>
    <div class="text-white min-h-screen bg-red-300 test">
        <i class="icon-close text-green-500"></i>
        test
    </div>

{% endblock %}